.teamDetails{
    display:flex;
    justify-content: space-between;
    background:rgba(255, 255, 255, 0.473);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.teamDetails img{

width:400px;

}
.teamdetail{
    background:rgb(4, 4, 87);
}
.teamDetailsbg{

    background:linear-gradient(to bottom, rgba(246, 245, 252, 0.52), rgba(34, 19, 117, 0.73)),
    url('../../Images/field.jpg');
    background-size:contain;
    background-position:top;
    background: cover;  
    height: 300px;
    width: 100%;
}
.badge1{
margin-top: 50px;
    width: 200px;
}

.info{

    text-align: justify;
    color:white;
    font-weight: 500;
}
.detailsinfo{
    background:rgba(155, 7, 135, 0.473);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.name{

margin-left: 80px;

}
